@using CountryDatabase.Models;
@using System.Collections.Generic;
@{
  Layout = "_Layout";
}

<div class="container">
    <h3>@Model["country"].GetName()</h3>
    <p>Population: @Model["country"].GetPopulation()</p>
    <p>Location: @Model["country"].GetContinent()</p>
    <p>Government: @Model["country"].GetGovernment()</p>
    <p>Code: @Model["country"].GetCode()</p>
    <br>
    <a href = "/countries">Home</a>
    <hr>
    <div>
        @foreach (CityClass city in @Model["cities"])
        {
            <li><a href="/countries/@city.GetCode()/@city.GetName()">@city.GetName()</a></li>
        }
    </div>

</div>
